.taskList {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding: 10px 0;
    font-weight: 300;
    word-break: break-word;
}

.taskList__item {
    margin: 0 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    border-bottom: 2px solid rgb(221, 221, 221);
    padding: 10px 10px;
}

.taskList__item--done {
    text-decoration: line-through;
}

.taskList__item--hidden {
    display: none;
}

.taskList__icon {
    align-items: center;
    background-color: transparent;
    transition: transform 1s;
}

.taskList__icon:hover {
    transform: scale(1.4);
}

.taskList__checkedButton {
    padding: 5px;
    background-color: green;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.taskList__deleteTask {
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.taskList__deleteTask:hover {
    background-color: hsl(0, 100%, 30%);
    cursor: pointer;
}

.taskList__checkedButton:hover {
    background-color: hsl(120, 100%, 20%);
    cursor: pointer;
}

.taskList__checkedButton:active {
    outline: 2px solid black;
    border-radius: 2px;
}

.taskList__deleteTask:active {
    outline: 2px solid black;
    border-radius: 2px;
}