.interactionButtonsContainer__Button {
    border: none;
    background-color: transparent;
    color: teal;
    font-weight: 300;
    font-size: 17px;
    transition: 1s;
}

.interactionButtonsContainer__Button--hidden {
    display: none;
}

.interactionButtonsContainer__Button:hover {
    color: turquoise;
    cursor: pointer;
}

.interactionButtonsContainer__Button:disabled {
    color: grey;
}

@media (max-width:750px) {
    .interactionButtonsContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}